body {
    margin:1em;
    font-family: Arial, sans-serif;
    letter-spacing: 1px;
    line-height: 1.2;
    font-size:15px;
}
img {
  width:100%;
}

/* section {
  display:grid;
  grid-template-columns: 1fr 1fr;
}

section img {
  padding-right:1em;
} */

@media (max-width: 1200px) {
  body {
  font-size: 15px;
  }
}
