body { 
    margin:1em 5em 3em 5em; 
    line-height: 1.2;
    font-size:30px; 
    background-color:rgb(203, 203, 143);
    /* background-color: silver;  */
    font-family: sans-serif; 
    letter-spacing: 0.5px; 
    margin-bottom: 2em;
}

header img {
    display: block;
    float: left;
    padding-right:1em;
}

/* ------------------------------------------- */

/* main img {
    display: inline-block;
    width:30%;
    border: 4px gray ridge;
    margin: 20px 10px 20px 0px;
    transition: .25s;
}

#folio img:hover {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    border-radius: 12px;
} */

/* ------------------------------------------- */

/* details {
    background-color: gray;
} */

#folio figure {
    display:inline-block;
    padding: 10px 10px 15px 10px;
    /* border-top: 1px rgb(76, 88, 62) solid; */
    background-color: rgb(177, 183, 132);
    width:28%;
    margin:10px 10px 20px 0;
    transition: 0.25s;
    border: 4px rgb(177,183,132) ridge;
}
#folio figure img {
    width:100%;
}
#folio figcaption {
    font-size:.6em;
}
#folio figure:hover {
    /* box-shadow: 0px 2px 10px rgb(50, 58, 41); */
    background-color: rgb(162, 166, 133);
    border: 8px rgb(162,166,133) ridge;
}

summary {
    font-size:0.6em;
    position:fixed;
    z-index: 3;
}

a {
    color: black;
    text-decoration: black dotted underline;
}
a:hover {
    background-color: yellow;
}


/* ------------------------------------------- */

/* a { 
    color: black;
    text-decoration: solid black underline;
}

a:hover { 
    font-style: italic; 
    text-decoration: dotted blue underline; 
    color:blue
} */

@media (max-width:1300px) {
    #folio figure {
        width: 28%;
    }
}

@media (max-width:1000px) {
    body {
        font-size:24px;
        margin:1em 5em 3em 5em;
    }
    #folio figure {
        width:100%;
    }
}
@media (max-width:600px) {
    body {
        font-size:18px;
        margin:1em;
    }
}