

body { background-color: white; max-width: 60%; font-size: 18px }
body > section:not(:first-child) { margin-top:3em }

img { display:block; width:100% }
h1 { font-weight:normal; font-size:1.25em }
table, table * { border:1px solid #a4a4a4; border-collapse: collapse}
td { padding: 4px 8px }
thead, nav { background-color: #f2f2f2 }

a { 
    color: blue; text-decoration: 1px blue solid underline;
    text-underline-offset: 2px;
}

summary + ul { margin-top: 0 }
li { margin-bottom: 0.25em }
details { text-indent: 0.25em }


footer { margin-top:2em }
@media (max-width: 900px) {
    body { max-width: 100% }
}