

body { background-color: white; width: 50% }
body > section:not(:first-child) { margin-top:3em }

img { display:block; width:100% }
h1 { font-weight:normal; font-size:1.25em }
table, table * { border:1px solid #a4a4a4; border-collapse: collapse}
td { padding: 4px 8px }
thead, nav { background-color: #f2f2f2 }

a { 
    color: blue; text-decoration: 1px blue solid underline;
    text-underline-offset: 2px;
}


footer { margin-top:2em }
@media (max-width: 900px) {
    body { width: 100% }
}