body {
	font-size: 14pt;
	font-family: sans-serif;
	background-color: #e2e2e2;
	margin: 1em;
	line-height: 1.3;
}


.mainpage img {
	width: 100%;
}

.projcopy {
	margin-bottom: 3em;
}

img.process {
	margin: 1em auto;
	border: 1px black solid;
	display: block;
	width: 75%;
	/*margin: 0 auto;*/
}

.parksidefinal, .foxyfinal {
	display: block;
	margin: 0 auto 1em auto;
}



img.foxyfinal {
	width: 100%;
	margin: 0;
}

.caption {
	font-size: 0.75em;
	color: gray;
	text-align: center;
	margin-bottom: 3em;
}


header, section {
	padding-bottom: 1em;
}

.mainpage section {
	border-top: 1px black solid;
}

a {
	color: black;
	text-decoration: none;
}

a:hover, .projinfo {
	opacity: 0.5;
}

.projtitle {
	font-size: 1.5em;
	/*font-weight: bold;*/
}

.projinfo {
	font-size: 0.75em;
}

main.projpage {
	display: grid;
	grid-template-columns: 2fr 7fr;
}

ul {
	margin: 0;
}

p {
	margin-top: 0.25em;
}

h1 {
	font-size: 1.5em;
	font-weight: normal;
	margin-bottom: 0;
}

iframe {
	margin: 2em auto;
}

iframe.foxyfinal {
	margin: 1em auto;
}

#litebubproto {
	margin-bottom: 2em;
}

.projoverview {
	margin-top: 0;
}

@media (min-width: 800px) {
	main.mainpage {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	.mainpage section {
		padding: 5px 5px 30px 5px;
		margin: 10px;
		border: 1px black solid;
		text-align: center;
	}
	.projcopy {
		margin-right: 6em;
	}
}

@media (max-width: 800px) {
	main.projpage {
		grid-template-columns: 1fr;
	}
}

@media (max-width: 500px) {
	body {
		font-size: 12pt;
	}
}