@font-face {
  font-family: letter-gothic-std,monospace;
  font-weight: 400;
  font-style: normal;
}
body {
  font-family: letter-gothic-std, serif;
  font-size: 18px;
  margin: 1em 0 1em 0;
}
header, footer {
  padding-left: 1em;
}
header {
  margin: 0 auto 1em auto;
}
footer {
  margin: 1em auto 0 auto;
}
main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 85vh;
}
main section {
  border-top: 1px black solid;
  border-bottom: 1px black solid;
  overflow: scroll;
}
span.projtitle {
  padding-left: 3em; text-transform: uppercase;
}
#copy {
  border-left: 1px black solid;
}
#copy a {
  color: black;
  text-decoration: 1.5px black dotted underline;
}
#copy a:hover {
  text-decoration: none;
}
p.warning, .caption {
  text-align: center;
  opacity: 0.5;
}

a.nav { 
  color:rgba(0,0,0,0.5); 
  text-decoration: 1.5px rgba(0,0,0,0.5) dotted underline; 
}
a:hover { 
  color:rgba(0,0,0,1); 
  text-decoration: 1px rgba(0,0,0,1) solid underline;
}
a.lowernavright {
  float: right;
  padding-right: 1em;
}
article {
  padding: 1em;
}
img {
  display: block;
  width: 100%;
}
article#material {
  border-top: 1px black solid;
}
@media (max-width: 1200px) {
  body { font-size: 15px }
}
@media (max-width: 850px) {
  body { font-size: 13px }
  main { grid-template-columns: 1fr }
  #copy {
    border-left: none;
    border-top: none;
    padding: 1em;
  }
}
@media (min-width: 1700px) {
  body {
    font-size: 21px;
  }
}